@use '../utils/colors.scss' as *;
@use '../utils/selection.scss' as *;

.product {
  background-color: #ffffff;
  width: 22rem;
  padding: 1.6rem;
  border-radius: .8rem;
  cursor: pointer;

  & > .image {
    width: 100%;
    background-color: #f0f0f0;
    user-select: none;
    margin-bottom: 1.6rem;
  }

  & > .title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.6rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    &::selection {
      @include selection;
    }
  }

  & > .price {
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;

    &::selection {
      @include selection;
    }
  }

  & > .button {
    width: 100%;
    padding: .8rem;
    background-color: $primary;
    font-weight: 600;
    color: $white;
    border: none;
    border-radius: .8rem;
    cursor: pointer;
    transition: .3s all;

    user-select: none;

    &:hover {
      background-color: darken($primary, 8%);
    }
  }
}